@tailwind base;
@tailwind components;
@tailwind utilities;

/* nostalgic */
@font-face {
  font-family: 'ノスタルドット（M+）';
  font-style: normal;
  font-weight: 100;
  src: url("/font/Nosutaru-dotMPlusH-10-Regular.ttf") format('truetype');
}

/* imanity */
@font-face {
  font-family: 'Imanity';
  font-style: normal;
  font-weight: 100;
  src: url("/font/Imanity_v2.000.otf") format('opentype');
}

/* bitfont */
@font-face {
  font-family: 'じゃっきーふぉんと';
  font-style: normal;
  font-weight: 100;
  src: url("/font/jackeyfont.ttf") format('truetype');
}

/* らこフォンんと */
@font-face {
  font-family: 'Markerbysue';
  font-style: normal;
  font-weight: 100;
  src: url("/font/Markerbysue-Regular.ttf") format('truetype');
}
/*public/font/Markerbysue-Regular.ttf
https://midorifonts2.netlify.app/Markerbysue-Regular.ttf
*/
 /* 数式フォント  数式フォントver1.5.ttf*/ 
 @font-face {
  font-family: '数式フォント'; 
  font-style: normal; 
  font-weight: 100; 
  src: url("/font/数式フォントver1.5.ttf") format('truetype');  
}

.nostalgic-text {
  font-family: 'ノスタルドット（M+）','Markerbysue';
}

.imanity-text {
  font-family: 'Imanity','ノスタルドット（M+）';
}

.bitfont-text {
  font-family: 'じゃっきーふぉんと', 'ノスタルドット（M+）';
}

.markerbysue-text {
  font-family: 'Markerbysue','ノスタルドット（M+）';
}

.suushiki-text {
  font-family: '数式フォント','Imanity';
  font-display: swap;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50; /* Ensure it is above other content */
}